body{
	background-image: url("background.png");	
}

.container{
	width: 900px;
	height: 500px;
	background-color: white;
	margin: 0 auto;
}

h1{
	margin-left: 60px;
	padding-top: 20px;
}
h3{
	margin-left: 60px;
}

h3:nth-of-type(1){
	font-weight: bold;
}

h3:nth-of-type(2){
	color: #28c0f7;
}

a{
	text-decoration: none;
	background-color: #28c0f7;
	padding: 15px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 5px;
	color: black;
	margin-left: 650px;
}

a:hover{
	background-color: #22bbf2;
}

p{
	margin-left: 60px;
}

.person{
	width: 350px;
}

.lock{
	width: 350px;
}

p:nth-of-type(3){
	width: 780px;
}

footer{
	position: relative;
	width: 900px;
	height: 100px;
	background-color: #28c0f7;
	top: 30px;
}

#title{
	color: #28c0f7;
}

#statement{
	width: 700px;
	margin-left: 60px;
}

.buttons-container{
	margin-left: 50px;
	margin-top: 100px;
}

button{
	margin-left: 10px;
	background-color: black;
	color: white;
	border: none;
	width: 140px;
	height: 40px;
	border-radius: 5px;
}

#eens:hover{
	background-color: #28c0f7;
}

#geen:hover{
	background-color: #28c0f7;
}

#oneens:hover{
	background-color: #28c0f7;
}

#terug{
	margin-top: 10px;
	color: black;
	width: 40px;
	height: 40px;
	background-color: white;
}